<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
    <tr>
        <td height="65">&nbsp;</td>
    </tr>
    <tr>
        <td width="200" align="center" valign="center">
            <a href="https://github.com/androiddevbr/como-contribuir" target="_blank" rel="noopener noreferrer" class="footer-button">
                Como contribuir
            </a>
            <div style="color: #259347; display: inline; margin: 0 12px;">●</div>
            <a href="https://github.com/androiddevbr/agenda-medium/issues/new?assignees=orafaaraujo&labels=artigo+em+revis%C3%A3o&template=novo-post.md&title=T%C3%ADtulo+do+post+-+Nome+do+Autor" target="_blank" rel="noopener noreferrer" class="footer-button">
                Submeter artigo
            </a>
            <div style="color: #259347; display: inline; margin: 0 12px;">●</div>
            <a href="https://github.com/androiddevbr/vagas/issues/new" target="_blank" rel="noopener noreferrer"
                class="footer-button">
                Cadastrar vaga
            </a>
            <div style="color: #259347; display: inline; margin: 0 12px;">●</div>
            <a href="https://github.com/androiddevbr/sugestoes-temas/issues/new?assignees=orafaaraujo&labels=Backlog&template=tema-sugerido.md&title=" target="_blank" rel="noopener noreferrer"
                class="footer-button">
                Sugerir tema
            </a>
        </td>
    </tr>
    <tr>
        <td height="30">&nbsp;</td>
    </tr>
    <tr>
        <td width="200" align="center" valign="center">
            <a href="https://github.com/androiddevbr/codigo-de-conduta/" target="_blank" rel="noopener noreferrer" class="footer-button">
                Código de conduta
            </a>
            <div style="color: #259347; display: inline; margin: 0 14px;">●</div>
            <a href="http://panorama.androiddevbr.org/" target="_blank" rel="noopener noreferrer" class="footer-button">
                Panorama Android
            </a>
            <div style="color: #259347; display: inline; margin: 0 14px;">●</div>
            <a href="https://androiddevbr.org/" target="_blank" rel="noopener noreferrer"
                class="footer-button">
                Site
            </a>
        </td>
    </tr>
    <tr>
        <td height="50">&nbsp;</td>
    </tr>
</table>