<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
    <tr>
        <td height="50">&nbsp;</td>
    </tr>
    <tr>
        <td align="center" valign="top">
            <center>
                <table cellpadding="0" cellspacing="0" border="0" class="container">
                    <tr align="center">
                        <td align="right">
                            <img src="https://github.com/androiddevbr/assets/blob/master/exports/logo_circle_1000x1000.png?raw=true"
                                alt="Logo Android Dev BR" class="logo-img" />
                        </td>
                        <td align="left" valign="center">
                            <table align="left" valign="middle" style="margin: 0px 0px 0px 21px;">
                                <tr>
                                    <td>
                                        <h1 class="logo-title">
                                            Android Dev BR
                                        </h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="logo-subtitle">
                                            News <span
                                                class="logo-date"><%= moment(new Date()).format('MM/YYYY'); %></span>
                                        </h5>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </center>
        </td>
    </tr>

    <tr>
        <td height="30">&nbsp;</td>
    </tr>

    <tr>
        <td width="200" align="center" valign="center">
            <a href="http://slack.androiddevbr.org/" target="_blank" rel="noopener noreferrer" class="social-button">
                Slack
            </a>
            <a href="https://t.me/androiddevbr" target="_blank" rel="noopener noreferrer" class="social-button">
                Telegram
            </a>
            <a href="https://twitter.com/androiddevbrorg" target="_blank" rel="noopener noreferrer"
                class="social-button">
                Twitter
            </a>
            <a href="https://www.instagram.com/androiddevbr/" target="_blank" rel="noopener noreferrer"
                class="social-button">
                Instagram
            </a>
        </td>
    </tr>

    <tr>
        <td height="40">&nbsp;</td>
    </tr>
</table>